body {
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
}

.ingredients-list{
	list-style: square inside;
}

ol {
	list-style: upper-latin inside;
	list-style-image: url('https://files.gamebanana.com/img/av/53824503c6f4e.png');
}

header > img {
	width: 100px;
}

ul li a {
	text-decoration: none;
	color: blue;
}

body {
    background-color: lightblue;
}